apiVersion: v1
kind: ConfigMap
metadata:
  name: eks-app-nginx-conf
data:
  default.conf: |
    server {
      listen 80;

      location / {
        root /usr/share/nginx/html;
        try_files $uri $uri/ /index.html;
      }

      location /stub_status {
        stub_status;
        allow 127.0.0.1;
        deny all;
      }
    }
